#navbar{
	background-color: rgb(101,100,106);
}
/* product */
	#product{
		position: relative;
		margin: 0;
		width: 100%;
		padding-top: 120px;
	}
	/* product list-wrapper */
		#product #list-wrapper{
			position: relative;
			width: 80%;
			margin: 0 auto;
		}
		#product #list-wrapper h1{
			text-align: center;
			color: rgb(48,48,48);
	        font-family: 'Slabo27px-Regular';
		}
		#product #list-wrapper #list .midle{
			cursor: pointer;
			position: relative;
			display: table-cell;
			vertical-align: middle;
			height: 225px;
			width: 33.33%;
			padding: 0 30px;
			text-align: center;
			color: rgb(48,48,48);
		}
		#product #list-wrapper #list .midle.active:after{
			bottom: 0px;
		    left: 50%;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-color: rgba(236,236,236, 0);
		    border-bottom-color: rgb(236,236,236);
		    border-width: 20px;
		    margin-left: -20px;
		    z-index: 1;
		}
		#product #list-wrapper #list .midle img{
			height: 140px;
		}
		#product #list-wrapper #list .midle p{
	        font-family: 'Quicksand Bold';
			margin: 5px;
		}
		#product #list-wrapper #list .midle h1{
	        font-family: 'Slabo27px-Regular';
			margin: 5px;
		}
		#product #list-wrapper #list .midle hr{
			border: 0;
			border-bottom: 2px solid rgb(251,184,24);
			width: 80%;
			margin: 0 auto;
		}
	/* product list-wrapper */
	/* product discrip-wrapper */
		#product #discrip-wrapper{
			position: relative;
			width: 100%;
			height: 360px;
			padding-top: 60px;
			background-color: rgb(236,236,236);
		}
		#product #discrip-wrapper #contain{
			position: absolute;
			left: 12.5%;
			width: 35%;
		}
		#product #discrip-wrapper #contain h1{
	        font-family: 'Slabo27px-Regular';
			color: rgb(251,184,24);
			transition: all 2.51s;
			transform: translateX(0%);
			visibility: visible;
			opacity: 1;
		}
		#product #discrip-wrapper #contain p{
	        font-family: 'Quicksand Bold';
			color: rgb(48,48,48);
			transition: all 2.51s;
			transform: translateX(0%);
			visibility: visible;
			opacity: 1;
		}
		#product #discrip-wrapper img{
			position: absolute;
			right: 7.5%;
			bottom: 2.5%;
			height: 280px;
			transition: all 2.51s;
			transform: translateX(0%);
			visibility: visible;
			opacity: 1;
		}
		#product #discrip-wrapper #contain h1.load-data,
		#product #discrip-wrapper #contain p.load-data,
		#product #discrip-wrapper  img.load-data{
			transform: translateX(-400px);
			visibility: hidden;
			opacity: 0;
		}
	/* product discrip-wrapper */
	/* mobile */
		@media (max-width: 480px) {
			#product #list-wrapper{
				width: 90%;
			}
			#product #list-wrapper #list .midle{
				padding: 0;
			}
			#product #list-wrapper #list .midle{
				height: 80px;
			}
			#product #list-wrapper #list .midle img{
				display: none;
			}
			#product #list-wrapper #list .midle p{
				font-size: 12px;
				transform: rotate(-45deg);
			}

			#product #discrip-wrapper{
				padding: 0;
				height: 320px;
			}
			#product #discrip-wrapper #contain{
				width: 60%;
				left: 5%;
				z-index: 1;
			}
			#product #discrip-wrapper img{
				height: 200px;
				right: 5%;
			}
		}
	/* mobile */
/* product */